# version: '3.8'

# services:
#   postgres:
#     image: postgres:16-alpine 
#     container_name: clinic_db_container
#     restart: always
#     ports:
#       - "5432:5432" 
#     environment:
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: clinic_db
#     volumes:
#       - postgres_data:/var/lib/postgresql/data 
      
# volumes:
#   postgres_data:

version: '3.8'

services:
  mongodb:
    image: mongo:7.0 
    container_name: clinic_mongo_container
    restart: always
    ports:
      - "27017:27017" 
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: